body, main {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    background-color: #f9f9f9;
    margin: 0; 
}
body {
    flex-direction: column;
    margin: 0;
    padding: 0;
}
main{
    flex-direction: row;
    flex: auto;
}
article{
    flex: 2;
    overflow-y: auto;

}
aside {
    flex: 1;
    overflow-y: auto;

}
header{
    flex: none;
    padding: 10px;
    background-color: #f4f4f4;
    text-align: center;
}